:root {
  /* Основные цвета */
  --primary-color: #2dff28;

  /* Текст */
  --text-primary: #ffffff;
  --text-secondary: #868686;

  /* Фоны */
  --bg-dark: #1b1b1b;

  /* Состояния */
  --warning-color: #f39c12;
  --error-color: #e74c3c;
}

/* ===== БРЕЙКПОИНТЫ ===== */
:root {
  --breakpoint-mobile: 320px;
  --breakpoint-tablet: 768px;
  --breakpoint-desktop: 1024px;
  --breakpoint-large: 1200px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  margin: 0;
}
input:focus {
  outline: none;
}
textarea:focus {
  outline: none;
}
a {
  word-break: break-all;
}

.page-title {
  margin-bottom: 80px;

  color: var(--text-primary);
  font-size: 42px;
  font-weight: 700;
  text-align: center;
}

@media (min-width: 1024px) {
  .line {
    margin-bottom: 40px;
    padding: 0 140px;
  }
  .line.line-display-only {
    height: 1px;
  }
}

.fade-up {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.fade-up.show {
  opacity: 1;
  transform: translateY(0);
}

.document--row {
  display: flex;
  gap: 15px;
}

.document--column {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.document__link {
  color: var(--text-primary);
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  text-decoration: none;
}
